<div class="row">
  <div class="col-sm-12 mb-4 mb-xl-0">
    <h4 class="font-weight-bold text-dark">Hi, <b><%=data.user.username%></b> welcome back!</h4>
    <p class="font-weight-normal mb-2 text-muted"><script>
      let d = new Date()
      document.write(Intl.DateTimeFormat("id-ID", {month: 'long'}).format(d).toUpperCase()+", "+d.getDate()+" "+d.getFullYear())</script></p>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xl-3 flex-column d-flex grid-margin stretch-card">
    <div class="row flex-grow">
      <div class="col-sm-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total Member</h4>
                <p>Bot: <%=data.user.member.filter(member=>member.user.bot).size%> | Member: <%=data.user.member.filter(member=>!member.user.bot).size%></p>
                <h4 class="text-dark font-weight-bold mb-2"><%=data.user.member.size%></h4>
            </div>
          </div>
      </div>
      <div class="col-sm-12 stretch-card">
          <div class="card">
            <div class="card-body">
                <p>Boost level <b><%=data.guild.premiumTier.replace("TIER_", "").includes("NONE") ? 0 : data.guild.premiumTier.replace("TIER_", "")%></b></p>
                <h4 class="card-title">Total Booster</h4>
                <h4 class="text-dark font-weight-bold mb-2"><%=data.guild.premiumSubscriptionCount%></h4>
          </div>
       </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-9 grid-margin-lg-0 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">STAFF MEMBER</h4>
        <div class="table-responsive mt-3">
          <table class="table table-header-bg">
            <thead>
              <tr>
                <th>
                    
                </th>
                <th>
                    Nama
                </th>
                <th>
                    Role
                </th>
              </tr>
            </thead>
            <tbody>
<%var staff = data.user.member.filter(member=>!member.user.bot && member.permissions.has("MANAGE_ROLES"))%>
<%staff.sort((x,y) => y.roles.highest.position - x.roles.highest.position)%>
<%- staff.map(member=>`<tr><td><div class="d-flex align-items-center"><img class="rounded-circle" src="${member.user.displayAvatarURL({dynamic:true})}"/></div></td><td>${member.user.username+"#"+member.user.discriminator}</td><td>${member.roles.highest.name}</td></tr>`).join("") %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 grid-margin-lg-0 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
          <h4 class="card-title">AUTO VOICE CHANNEL</h4>
          <div class="table-responsive mt-3">
<% var voice = JSON.parse(data.voice) %>
<% if (voice.length != 0) { %>
           <table class="table table-header-bg">
              <thead>
                <tr>
                  <th>
                      Channel
                  </th>
                  <th>
                      Owner
                  </th>
                  <th>
                      Member
                  </th>
                </tr>
              </thead>
              <tbody>
<%-voice.map(o=> `<tr><td>${o.channel.name}</td><td><div class="d-flex align-items-center"><img class="rounded-circle" src="${o.owner.avatar}"/></div></td><td><div class="d-flex align-items-center">${channel.member.map(m=> `<img class="rounded-circle" src="${m.avatar}" title="${m.username}"/>`).join("")}</div></td></tr>`) %>
              </tbody>
          </table>
<% } else { %>
<div class="text-center alert alert-warning">TIDAK ADA CHANNEL SAAT INI</div>
<% } %>
        </div>
      </div>
    </div>
  </div>
</div>